/* ----------------------------------------------------------------------------------------------------------------------------*
/* BODY*/
body {
    background-color: white;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}

/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------ESTILOS GENERALES---------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/

.contenedor-header {
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;

}

@media only screen and (min-width: 320px) and (max-width: 400px)  {

    /*PARTES QUE NO SE MUESTRAN*/
    .header1 {
        display: none;
    }
    .nav-1 {
        display: none;
    } 
    .button-contenedor {
        display: none;
    }  


    /* ------------------------------------------*/

    /* CONTENEDOR HEADER*/
    .header {
        background-size: cover;
        background: linear-gradient(to bottom , black 1%, rgba(5, 7, 12, 0.35), rgba(5, 7, 12, 0.35)),url("../IMG/header.jpg")no-repeat;
        background-position: center;
        height: 120vh;
    }

    .contenedor-header {
        height: 120vh;
    }

    .input-text1 {
        border-radius: 200px;
        border: 3px solid white;
        width: 100%;
        height: 20%;
        background: url("../IMG/Group 241.png") no-repeat;
        background-position: 95%;
        padding-left: 5px;
        margin-top: 2%;
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        text-align: center;
     
    }

    .input-text2 {
        border-radius: 200px;
        border: 3px solid white;
        width: 90%;
        height: 20%;
        background: url("../IMG/Group 240 (1).png") no-repeat center;
        background-position: 10%;
        padding-left: 10%;
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        text-align: center;
  
    }
    .otro5 {
        color: #FFF;
        font-family: PF Regal Display Pro;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 56.25% */
    
    }

    .imgUNIQ {
        width: 70%;
        height: 100%; 
    }

    /* ------------------------------------------*/
    /* CONTENEDOR 1 SECCIÓN Properties for sale*/
    
    .contenedor1 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .contenedor-textos-1 {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

     .galeria1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
    } 

    .nav-img {
        margin-left: 100%;
    }

    .contendor-galeria-imagenes {
        height: 30vh;
    }

    .contendor-galeria-imagenes1 {
        width: auto;
        height: 70vh;
        position: relative;
        bottom: 20%;
    }

    .contendor-galeria-imagenes2 {
        width: auto;
        height: auto;
    }

    .contendor-galeria-imagenes1 img{
        object-fit: cover;
        height: 100vh;
        z-index: 1;
    
    }
    
    .contendor-galeria-imagenes img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    
    }

    .texto1-contenedor {
        color: #DF991B;
        font-family: PF Regal Display Pro;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
    }
    
    .texto2-contenedor {
        color: #000;
        font-family: PF Regal Display Pro;
        font-size: 38px;
        font-style: normal;
        font-weight: 500;
        line-height: 80px;
    }
    
    .texto3-contenedor {
        color: #000;
        font-family: Brandon Grotesque;
        font-size: 25px;
        font-style: normal;
        font-weight: 330;
        line-height: 45px;
        padding-bottom: 5%;
        
    }

    .nombreDevelopments {
        color: #464547;
        font-family: PF Regal Display Pro;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
    }
    
    .ciudadDevelopments {
        color: #000;
        font-family: PF Regal Display Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
    }
    .contenedor-textos-1prueba {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* ------------------------------------------*/
    /* CONTENEDOR 2 SECCIÓN Properties for rent*/

    .contenedor2 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .galeria2 {
        display: none;
    }

    /* ------------------------------------------*/
    /* CONTENEDOR 3 DEVELOPMENS*/

    .contenedor2prueba {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .galeria2prueba {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .contenedor3-principal {
        display: none;
    }

    .contenedor3-principal2 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2%;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .imag1{
        width: auto;
        height: auto;
    }

    .contenedor3-secundario {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* ------------------------------------------*/
    /* CONTENEDOR 4 SECCIÓN Services*/

    .parteImagen {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 200vh;
    } 

    .parte2Ima {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 5%;
        padding-right: 5%;
    }

    .gridFooter-movil {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .colum1-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;

    }
    .colum2-movil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 5%;
        padding-bottom: 5%;
        
    }

    .colum3-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
         
    }

    .texto-colum2-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;  
    }

    .gridFooter {
        display: none;
    }

    /*CONTENEDOR SECCIÓN FOOTER*/

    .principal-footer-movil {
        width: auto;
        height: auto;
    }
    
    .principal-footer {
        display: none;
    }
    
    .contenedor-principal-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
        background-color:#26282B;
        width: auto;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        transform: translateY(30%);
    }

    .textoFooter-Num {
        color: #FFF;
        text-align: right;
        font-family: PF Regal Display Pro;
        font-size: 5px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
    }

    .int-footer-container {
        display: grid;
        grid-template-rows: 4fr 0.5fr;
        width: auto;
        height: auto;
        background-color: black;
        padding-top: 30%;
    }

    .textoFooterMovil1 {
        color: #B4B7B7;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 10px; /* 150% */
    }

    .texto-footer-1 {
        color: #DF991B;
        font-family: PF Regal Display Pro;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 112.5% */
    }
    
    .texto-footer-2 {
        color: #FFF;
        font-family: PF Regal Display Pro;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px; /* 108.333% */
    }
    
    .texto-footer-3 {
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 15px;
        font-style: normal;
        margin-left: 20%;
    }

    .contenedor-principal-texto-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .contenedor-principal-input-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .input-text3 {
        border-radius: 200px;
        border: 3px solid white;
        height: 80%;
        background-color: transparent;
        background-position: 5%;
        padding-left: 50px;
        color: #7E7E7E;
        font-family: Brandon Grotesque;
        font-size: 10px;
        font-style: normal;
        font-weight: 390;
        margin-left: 10%;
        margin-right: 5%;
    }
    
    .input-text4 {
        border-radius: 200px;
        border: 3px solid #DF991B;
        height: 80%;
        background-color: transparent;
        color: #DF991B;
        text-align: center;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        margin-left: 50%;
        margin-right: 5%;
    }

    .textoDevelopmentsMovil {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background: transparent;
        padding-left: 5%;    
    }



}

/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------400px hasta 700px---------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 400px) and (max-width: 700px)  {

    /*PARTES QUE NO SE MUESTRAN*/
    .header1 {
        display: none;
    }
    .nav-1 {
        display: none;
    } 
    .button-contenedor {
        display: none;
    }  


    /* ------------------------------------------*/

    /* CONTENEDOR HEADER*/
    .header {
        background-size: cover;
        background: linear-gradient(to bottom , black 1%, rgba(5, 7, 12, 0.35), rgba(5, 7, 12, 0.35)),url("../IMG/header.jpg")no-repeat;
        background-position: center;
        height: 130vh;
    }

    .contenedor-header {
        height: 130vh;
    }

    .input-text1 {
        border-radius: 200px;
        border: 3px solid white;
        width: 100%;
        height: 20%;
        background: url("../IMG/Group 241.png") no-repeat;
        background-position: 95%;
        padding-left: 5px;
        margin-top: 2%;
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        text-align: center;
     
    }

    .input-text2 {
        border-radius: 200px;
        border: 3px solid white;
        width: 90%;
        height: 20%;
        background: url("../IMG/Group 240 (1).png") no-repeat center;
        background-position: 10%;
        padding-left: 10%;
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        text-align: center;
  
    }
    .otro5 {
        color: #FFF;
        font-family: PF Regal Display Pro;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 56.25% */
    
    }

    .imgUNIQ {
        width: 70%;
        height: 100%; 
    }

    /* ------------------------------------------*/
    /* CONTENEDOR 1 SECCIÓN Properties for sale*/
    
    .contenedor1 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .contenedor-textos-1 {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

     .galeria1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .nav-img {
        margin-left: 200%;
    }

    .contendor-galeria-imagenes {
        height: 30vh;
    }

    .contendor-galeria-imagenes1 {
        height: 75vh;
    }

    .contendor-galeria-imagenes1 img{
        object-fit: cover;
        position: relative;
        bottom: 15%;
    
    }
    
    .contendor-galeria-imagenes img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    
    }

    .texto1-contenedor {
        color: #DF991B;
        font-family: PF Regal Display Pro;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
    }
    
    .texto2-contenedor {
        color: #000;
        font-family: PF Regal Display Pro;
        font-size: 38px;
        font-style: normal;
        font-weight: 500;
        line-height: 80px;
    }
    
    .texto3-contenedor {
        color: #000;
        font-family: Brandon Grotesque;
        font-size: 25px;
        font-style: normal;
        font-weight: 330;
        line-height: 45px;
        padding-bottom: 5%;
        
    }

    .nombreDevelopments {
        color: #464547;
        font-family: PF Regal Display Pro;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
    }
    
    .ciudadDevelopments {
        color: #000;
        font-family: PF Regal Display Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
    }
    .contenedor-textos-1prueba {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* ------------------------------------------*/
    /* CONTENEDOR 2 SECCIÓN Properties for rent*/

    .contenedor2 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .galeria2 {
        display: none;
    }

    /* ------------------------------------------*/
    /* CONTENEDOR 3 DEVELOPMENS*/

    .contenedor2prueba {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .galeria2prueba {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .contenedor3-principal {
        display: none;
    }

    .contenedor3-principal2 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2%;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .imag1{
        width: auto;
        height: auto;
    }

    .contenedor3-secundario {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* ------------------------------------------*/
    /* CONTENEDOR 4 SECCIÓN Services*/

    .parteImagen {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 200vh;
    } 

    .parte2Ima {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 5%;
        padding-right: 5%;
    }

    .gridFooter-movil {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .colum1-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;

    }
    .colum2-movil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 5%;
        padding-bottom: 5%;
        
    }

    .colum3-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
         
    }

    .texto-colum2-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;  
    }

    .gridFooter {
        display: none;
    }

    /*CONTENEDOR SECCIÓN FOOTER*/

    .principal-footer-movil {
        width: auto;
        height: auto;
    }
    
    .principal-footer {
        display: none;
    }
    
    .contenedor-principal-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
        background-color:#26282B;
        width: auto;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        transform: translateY(30%);
    }

    .textoFooter-Num {
        color: #FFF;
        text-align: right;
        font-family: PF Regal Display Pro;
        font-size: 5px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
    }

    .int-footer-container {
        display: grid;
        grid-template-rows: 4fr 0.5fr;
        width: auto;
        height: auto;
        background-color: black;
        padding-top: 30%;
    }

    .textoFooterMovil1 {
        color: #B4B7B7;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 10px; /* 150% */
    }

    .texto-footer-1 {
        color: #DF991B;
        font-family: PF Regal Display Pro;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 112.5% */
    }
    
    .texto-footer-2 {
        color: #FFF;
        font-family: PF Regal Display Pro;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px; /* 108.333% */
    }
    
    .texto-footer-3 {
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 15px;
        font-style: normal;
        margin-left: 20%;
    }

    .contenedor-principal-texto-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .contenedor-principal-input-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .input-text3 {
        border-radius: 200px;
        border: 3px solid white;
        height: 80%;
        background-color: transparent;
        background-position: 5%;
        padding-left: 50px;
        color: #7E7E7E;
        font-family: Brandon Grotesque;
        font-size: 10px;
        font-style: normal;
        font-weight: 390;
        margin-left: 10%;
        margin-right: 5%;
    }
    
    .input-text4 {
        border-radius: 200px;
        border: 3px solid #DF991B;
        height: 80%;
        background-color: transparent;
        color: #DF991B;
        text-align: center;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        margin-left: 50%;
        margin-right: 5%;
    }

    .textoDevelopmentsMovil {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background: transparent;
        padding-left: 5%;    
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------500px hasta 1100px--------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 700px) and (max-width: 1000px)  {

    /*PARTES QUE NO SE MUESTRAN*/
    .header1 {
        display: none;
    }
    .nav-1 {
        display: none;
    } 
    .button-contenedor {
        display: none;
    }  

    /* ------------------------------------------*/

    /* CONTENEDOR HEADER*/
    .header {
        background-size: cover;
        background: linear-gradient(to bottom , black 1%, rgba(5, 7, 12, 0.35), rgba(5, 7, 12, 0.35)),url("../IMG/header.jpg")no-repeat;
        background-position: center;
        height: 140vh;
    }

    .contenedor-header {
        height: 140vh;
    }

    .input-text1 {
        border-radius: 200px;
        border: 3px solid white;
        width: 100%;
        height: 20%;
        background: url("../IMG/Group 241.png") no-repeat;
        background-position: 95%;
        padding-left: 5px;
        margin-top: 2%;
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 390;
        text-align: center;
     
    }

    .input-text2 {
        border-radius: 200px;
        border: 3px solid white;
        width: 90%;
        height: 20%;
        background: url("../IMG/Group 240 (1).png") no-repeat center;
        background-position: 10%;
        padding-left: 10%;
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 390;
        text-align: center;
  
    }

    .otro5 {
        color: #FFF;
        font-family: PF Regal Display Pro;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 56.25% */
    
    }

    .imgUNIQ {
        width: 70%;
        height: 100%; 
    }

    .textoDevelopmentscastillo {
        background: url("../IMG/Group 287.png") no-repeat center;
        background-position: 0%;
        background-size: 30% 30%;
    }

    /* CONTENEDOR 1 SECCIÓN Properties for sale*/
    .contenedor1 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .contenedor-textos-1 {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }


     .galeria1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .nav-img {
        margin-left: 200%;
    }

    .contendor-galeria-imagenes {
        height: 30vh;
    }
    
    .contendor-galeria-imagenes img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    
    }

    .texto1-contenedor {
        color: #DF991B;
        font-family: PF Regal Display Pro;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
    }
    
    .texto2-contenedor {
        color: #000;
        font-family: PF Regal Display Pro;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 80px;
    }
    
    .texto3-contenedor {
        color: #000;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 330;
        line-height: 45px;
        padding-bottom: 5%;
    }

    .nombreDevelopments {
        color: #464547;
        font-family: PF Regal Display Pro;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px; /* 180% */
    }
    
    .ciudadDevelopments {
        color: #000;
        font-family: PF Regal Display Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
    }
    .contenedor-textos-1prueba {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* CONTENEDOR 2 SECCIÓN Properties for rent*/

    .contenedor2 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .galeria2 {
        display: none;
    }

    .contenedor2prueba {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .galeria2prueba {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .contenedor3-principal {
        display: none;
    }

    .contenedor3-principal2 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2%;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .imag1{
        width: auto;
        height: auto;
    }

    .contenedor3-secundario {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* CONTENEDOR 4 SECCIÓN Services*/

    .parteImagen {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        margin-top: 2%;
    } 

    .parte2Ima {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 5%;
        padding-right: 5%;
    }

    .gridFooter-movil {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .colum1-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;

    }
    .colum2-movil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 5%;
        padding-bottom: 5%;
        
    }

    .colum3-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
         
    }

    .texto-colum2-movil {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;  
    }

    .gridFooter {
        display: none;
    }

    /*CONTENEDOR SECCIÓN FOOTER*/

/*FOOTER PRIMER CUADRO */

    .principal-footer-movil {
        width: auto;
        height: auto;
    }
    
    .principal-footer {
        display: none;
    }
    
    .contenedor-principal-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
        background-color:#26282B;
        width: auto;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        transform: translateY(30%);
    }

    .textoFooter-Num {
        color: #FFF;
        text-align: right;
        font-family: PF Regal Display Pro;
        font-size: 5px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
    }

    .int-footer-container {
        display: grid;
        grid-template-rows: 4fr 0.5fr;
        width: auto;
        height: auto;
        background-color: black;
        padding-top: 30%;
    }

    .textoFooterMovil1 {
        color: #B4B7B7;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 10px; /* 150% */
    }

    .texto-footer-1 {
        color: #DF991B;
        font-family: PF Regal Display Pro;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 112.5% */
    }
    
    .texto-footer-2 {
        color: #FFF;
        font-family: PF Regal Display Pro;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px; /* 108.333% */
    }
    
    .texto-footer-3 {
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 15px;
        font-style: normal;
        margin-left: 20%;
    }

    .contenedor-principal-texto-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .contenedor-principal-input-footer-1 {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .input-text3 {
        border-radius: 200px;
        border: 3px solid white;
        height: 80%;
        background-color: transparent;
        background-position: 5%;
        padding-left: 50px;
        color: #7E7E7E;
        font-family: Brandon Grotesque;
        font-size: 10px;
        font-style: normal;
        font-weight: 390;
        margin-left: 10%;
        margin-right: 5%;
    }
    
    .input-text4 {
        border-radius: 200px;
        border: 3px solid #DF991B;
        height: 80%;
        background-color: transparent;
        color: #DF991B;
        text-align: center;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        margin-left: 50%;
        margin-right: 5%;
    }

    .textoDevelopmentsMovil {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background: transparent;
        padding-left: 5%;    
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------1000px hasta 2400px---------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 1000px) and (max-width: 2400px)  {
    .header {
        background-size: cover;
        background: linear-gradient(to bottom , black 1%, rgba(5, 7, 12, 0.35), rgba(5, 7, 12, 0.35)),url("../IMG/mikail-mcverry-GSL3IuuwJv8-unsplash 1.png")no-repeat;
        background-position: center;
        width: auto;
        height: 100vh;
    }
    .contenedor-header {
        height: 80vh;
    }

    .derecha {
        margin-left: 50%;
    }

    .nav-img {
        margin-left: 30%;
    }

    .input-text1 {
        border-radius: 200px;
        border: 3px solid white;
        width: 80%;
        height: 20%;
        background-color: transparent;
        background: url("../IMG/Group 241.png") no-repeat;
        background-position: 90%;
        padding-left: 30px;
        margin-left: 20%;
        margin-top: 5%;
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px;
    }
    .imgUNIQ {
        width: 200px;
        height: 15px;
        flex-shrink: 0  
    }

    .otro5 {
        color: #FFF;
        font-family: PF Regal Display Pro;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 56.25% */
    
    }

    /* CONTENEDOR 1 SECCIÓN Properties for sale*/

    .contenedor1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
        padding-right: 5%;
        column-gap: 2%;
    }

    .contenedor-textos-1 {
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
    }

    .galeria1 {
        order: -1;
    }

    .input-text2 {
        border-radius: 200px;
        border: 3px solid white;
        width: 30%;
        height: 20%;
        background-color: transparent;
        background: url("../IMG/Group 240 (1).png") no-repeat center;
        background-position: 5%;
        padding-left: 100px;
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px; /* 150% */
    }


    .PREV {

        margin-top: 5%;
        background: url("../IMG/Vector (4).png") no-repeat center;
        background-position: 5%;
        background-position: left;
        color: #B4B7B7;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px; /* 225% */
        text-align: center;
    }
    
    .NEXT {
        margin-top: 5%;
        background: url("../IMG/Vector (5).png") no-repeat center;
        background-position: 5%;
        background-position: right;
        color: #DF991B;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px; /* 225% */
        text-align: center;
    }

    .button-texto-contenedor {
        border-radius: 200px;
        border: 3px solid black;
        /*width: 30%;
        height: 20%;*/
        background-color: white;
        color: black;
        text-align: center;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px; /* 150% */
    }
    
    .button-contenedor {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-left: 0%;
    }

    .galeria1 {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        width: auto;
        height: auto;

    } 

    .contendor-galeria-imagenes {
        height: 50vh;
    }
    
    .contendor-galeria-imagenes img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    
    }

    .nombreDevelopments {
        color: #464547;
        font-family: PF Regal Display Pro;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px; /* 180% */
    }
    
    .ciudadDevelopments {
        color: #000;
        font-family: PF Regal Display Pro;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
    }

    /* CONTENEDOR 2 SECCIÓN Properties for rent*/

    .contenedor2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
        padding-left: 5%;
        column-gap: 2%;
    }

    /* CONTENEDOR 3 SECCIÓN Developments*/

    .contenedor3-principal {
        display: grid;
        grid-template-rows: 0.5fr 1.5fr 8fr;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 2%;
    }

    .contenedor3-secundario {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 5%;
        margin-right: 5%;
        column-gap: 1%;
    }

    .imgContentDevelopments {
        height: 10vw;
    }
    
    .imgContentDevelopments img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .contenedor3-principal2 {
        display: none;
    }

    .contenedor2prueba {
        display: none;
    }

    /* CONTENEDOR 4 SECCIÓN Services*/

    .parteImagen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        height: auto;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        column-gap: 2%;

    }

    .contendor-galeria-imagenes1 {
        order: -1;
    }

    .gridFooter-movil {
        display: none;
    }


    .texto1-contenedor {
        color: #DF991B;
        font-family: PF Regal Display Pro;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
    }
    
    .texto2-contenedor {
        color: #000;
        font-family: PF Regal Display Pro;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
    }
    
    .texto3-contenedor {
        color: #000;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 330;
        line-height: 45px; /* 150% */
    }

    /*CONTENEDOR SECCIÓN FOOTER*/

    .principal-footer-movil {
        display: none;
    }

    .gridFooter {
        display: none;
    }

    .principal-footer {
        width: auto;
        height: auto;
    }

    .contenedor-principal-footer-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #26282B;
        width: auto;
        height: auto;
        margin-right: 5%;
        margin-left: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        transform: translateY(40%);
    }

    .int-footer-container {
        display: grid;
        grid-template-rows: 4fr 0.5fr;
        background-color: black;
        width: auto;
        height: auto;
        padding-top: 10%;
    }
    .texto-footer-1 {
        color: #DF991B;
        font-family: PF Regal Display Pro;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 112.5% */
    }
    
    .texto-footer-2 {
        color: #FFF;
        font-family: PF Regal Display Pro;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px; /* 108.333% */
    }
    
    .texto-footer-3 {
        color: #FFF;
        font-family: Brandon Grotesque;
        font-size: 25px;
        font-style: normal;
        margin-left: 20%;
    }

    .contenedor-principal-texto-footer-1 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-left: 10%;
        background-color: #26282B;;
    }
    
    .contenedor-principal-input-footer-1 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #26282B;;
    }

    .input-text3 {
        border-radius: 200px;
        border: 3px solid white;
        height: 80%;
        background-color: transparent;
        background-position: 5%;
        padding-left: 50px;
        color: #7E7E7E;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        margin-left: 10%;
        margin-right: 5%;
    }
    
    .input-text4 {
        border-radius: 200px;
        border: 3px solid #DF991B;
        height: 80%;
        background-color: transparent;
        color: #DF991B;
        text-align: center;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 390;
        margin-left: 50%;
        margin-right: 5%;
    }

    .textoDevelopments {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background: transparent;
        padding: 1vw 1vw;
    
    }

    .nav-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-right: 1px solid white;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    .header1 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        position: fixed;
    }
    
}

/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/







.nav-principal {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid white;
    width: auto;
}





.texto-header {
    display: grid;
    grid-template-columns: 1% auto;
}



.header2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5%;
}

.iconos-rejilla1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10%;
}

.iconos-rejilla2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10%;
    row-gap: 20px;    
}

.nombre-contenedor-Developments {
    color: #464547;
    font-family: PF Regal Display Pro;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 180% */
}

.ciudad-contenedor-Developments {
    color: #000;
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 112.5% */
}

.img-contenedor-3:hover{
    transform: translateY(-10%);
    transition: 0.4s;
}

.img-contenedor-2:hover{
    transition: 0.4s;
    background: white;
    position: relative;
    
}

.texto1-contenedor-developments {
    color: #DF991B;
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 112.5% */
    text-align: center;
}

.texto2-contenedor-developments {
    color: #000;
    font-family: PF Regal Display Pro;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 65px; /* 81.25% */
    text-align: center;
}

.contenedor3-texto-Developments {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: transparent;
    padding: 1vw 1vw;

}

.parte2Ima {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 0.5fr;
    row-gap: 1%;
}

.contendor-galeria-imagenes1 img{
    width: 100%;
    height: 100%;
}

.contendor-galeria-imagenes2 {
    width: 95%;
    height: 95%;
    padding-top: 5%;
    padding-right: 5%;
    
}

.contendor-galeria-imagenes2 img{
    width: 100%;
    height: 90%;
}



/*FOOTER SEGUNDO CUADRO */

.gridFooter {
    display: grid;
    padding: 5% 0 5% 0;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    margin: 0 5% 0 5%;
}


.textoFooter1 {
    color: #B4B7B7;
    font-family: Brandon Grotesque;
    font-size: 20px;
    font-style: normal;
    font-weight: 390;
    line-height: 10px; /* 150% */
}

.textoFooter2 {
    /*width: 77px;
    height: 177px;
    flex-shrink: 0;*/
    color: #B4B7B7;
    text-align: right;
    font-family: Brandon Grotesque;
    font-size: 25px;
    font-style: normal;
    font-weight: 390;
    line-height: 25px; /* 150% */
}

.textoFooter3{
    color: #FFF;
    text-align: center;
    font-family: Brandon Grotesque;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: 45px; /* 225% */
}

.textoFooterNum {
    color: #FFF;
    text-align: right;
    font-family: PF Regal Display Pro;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 112.5% */
}


.copyrightFooter {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1% 5% 0 5%;
    border-top: 1px solid white;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS QUE COMPARTEN LOS CONTENEDORES 1 - 2 - 3 - 4*/

.galeria1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.galeria2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.button-texto-contenedor:hover {
    background: gray;
}

/*PARTE DEL TEXTO QUE VA EN EL FOOTER*/


.partede-iconos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.otro {
    color: #B4B7B7;
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 112.5% */

}

.otro3 {
    color: #B4B7B7;
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 112.5% */
    writing-mode: vertical-lr;

}

.otro4 {
    color: #B4B7B7;
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 112.5% */

}



a {
    text-decoration: none;
}

.iconos {
    align-items: center;

}

.izquierda {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    row-gap: 15%;
}


.textoDevelopments:hover {
    background-color: red; 
}

.img-contenedor-2{
    background-size: contain;
}

.pieImagen {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.parte:hover {
    background-color: yellow; 
}



@media only screen and (min-width: 320px) and (max-width: 700px)  {
    .contendor-galeria-imagenes-1 {
        background-size: cover;
        background-image: url("../IMG/lindsay-K2wG7PKAba8-unsplash 1 (1).png");
        background-position: center;
        height: 30vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-2 {
        background-size: cover;
        background-image: url("../IMG/bartlomiej-balicki-7icYxbgI9qk-unsplash 1 (1).png");
        background-position: center;
        height: 30vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-3 {
        background-size: cover;
        background-image: url("../IMG/1719d600a2cb3d9a2c6382147eaa2075.jpg");
        background-position: center;
        height: 30vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }

    .contendor-galeria-imagenes-1-1 {
        background-size: cover;
        background-image: url("../IMG/daniel-barnes-PyFzygP2eNg-unsplash 1 (1).png");
        background-position: center;
        height: 30vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-2-1 {
        background-size: cover;
        background-image: url("../IMG/derek-thomson-a168At_RF6A-unsplash 1.png");
        background-position: center;
        height: 30vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-3-1 {
        background-size: cover;
        background-image: url("../IMG/d6c94366a73a8d9d0ff015736fd1c141.jpg");
        background-position: center;
        height: 30vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }

}

@media only screen and (min-width: 500px) and (max-width: 1200px)  {
    .contendor-galeria-imagenes-1 {
        background-size: cover;
        background-image: url("../IMG/lindsay-K2wG7PKAba8-unsplash 1 (1).png");
        background-position: center;
        height: 40vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-2 {
        background-size: cover;
        background-image: url("../IMG/bartlomiej-balicki-7icYxbgI9qk-unsplash 1 (1).png");
        background-position: center;
        height: 40vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-3 {
        background-size: cover;
        background-image: url("../IMG/1719d600a2cb3d9a2c6382147eaa2075.jpg");
        background-position: center;
        height: 40vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }

    .contendor-galeria-imagenes-1-1 {
        background-size: cover;
        background-image: url("../IMG/daniel-barnes-PyFzygP2eNg-unsplash 1 (1).png");
        background-position: center;
        height: 40vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-2-1 {
        background-size: cover;
        background-image: url("../IMG/derek-thomson-a168At_RF6A-unsplash 1.png");
        background-position: center;
        height: 40vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-3-1 {
        background-size: cover;
        background-image: url("../IMG/d6c94366a73a8d9d0ff015736fd1c141.jpg");
        background-position: center;
        height: 40vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    
}

@media only screen and (min-width: 1200px) and (max-width: 2400px)  {
    .contendor-galeria-imagenes-1 {
        background-size: cover;
        background-image: url("../IMG/lindsay-K2wG7PKAba8-unsplash 1 (1).png");
        background-position: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-2 {
        background-size: cover;
        background-image: url("../IMG/bartlomiej-balicki-7icYxbgI9qk-unsplash 1 (1).png");
        background-position: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-3 {
        background-size: cover;
        background-image: url("../IMG/1719d600a2cb3d9a2c6382147eaa2075.jpg");
        background-position: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }

    .contendor-galeria-imagenes-1-1 {
        background-size: cover;
        background-image: url("../IMG/daniel-barnes-PyFzygP2eNg-unsplash 1 (1).png");
        background-position: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-2-1 {
        background-size: cover;
        background-image: url("../IMG/derek-thomson-a168At_RF6A-unsplash 1.png");
        background-position: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    .contendor-galeria-imagenes-3-1 {
        background-size: cover;
        background-image: url("../IMG/d6c94366a73a8d9d0ff015736fd1c141.jpg");
        background-position: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 3fr 1fr;
        cursor: pointer;
    }
    
}


.castillo {
    display: none;
}

.textoDevelopmentsMovil-e {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    width: auto;
    height: auto;
}

.contendor-galeria-imagenes-1:hover .textoDevelopmentsMovil-e {
    background-color: white;
}

.contendor-galeria-imagenes-2:hover .textoDevelopmentsMovil-e {
    background-color: white;
}
.contendor-galeria-imagenes-3:hover .textoDevelopmentsMovil-e {
    background-color: white;
}

.contendor-galeria-imagenes-1:hover .castillo {
    display: inline-block;
}
.contendor-galeria-imagenes-2:hover .castillo {
    display: inline-block;
}
.contendor-galeria-imagenes-3:hover .castillo {
    display: inline-block;
}
.galeria2 {
    column-gap: 1%;
    overflow: hidden;
}

.galeria1 {
    column-gap: 1%;
    overflow: hidden;
}



.contendor-galeria-imagenes-1-1:hover .textoDevelopmentsMovil-e {
    background-color: white;
}

.contendor-galeria-imagenes-2-1:hover .textoDevelopmentsMovil-e {
    background-color: white;
}
.contendor-galeria-imagenes-3-1:hover .textoDevelopmentsMovil-e {
    background-color: white;
}

.contendor-galeria-imagenes-1-1:hover .castillo {
    display: inline-block;
}
.contendor-galeria-imagenes-2-1:hover .castillo {
    display: inline-block;
}
.contendor-galeria-imagenes-3-1:hover .castillo {
    display: inline-block;
}


.nav-1:hover {
    background-color: ;

}


